.lay{
  margin:0 0 0 0 !important;
  
}
.hide{
  display: none;  
}
.naughty-button{
  position: fixed;
  bottom: 30px;
  right: 80px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
@media screen and (max-width: 480px) {
  .naughty-button{
    bottom: 10px;
    right: 10px;
  }
  .search{
    width: 100% !important;
  }
}
.line1{
  color: grey;
}
.line2{
  color:darkgrey;
}
.bracket{
  color:white;
}

.mouse{
  cursor: pointer;
}
.mouse:hover{
  background: rgba(0,0,0,0.2);
}
#form *{
   border-radius:0px !important; }
.list-group-item{
    
    border-radius: 0 !important;
}
#form input{
  margin-top: 0px !important;
}
.active{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
  #input:active , #input:focus,.delete:active,.delete:focus{
    box-shadow: none;
  }
  .blank-box:active,.blank-box:focus{
    box-shadow: none;
  }
  .blank-box:hover{
    background: auto!important;
  }
body{
  margin: 0!important;
}
.time{
  float: right;
}
.fix-scroll{
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: none;
}
.eachBid:hover{
  background-color: rgba(91, 66, 225, 0.4)!important;
  cursor: pointer;
  transform: skewY(0deg); /* Standard syntax */

}
.bid :nth-child(){
  background: rgba(91, 66, 225, 0.4)!important;
}
.box{
  height: 20rem;
  overflow-y:scroll;

 
}
#formM *{
  border-radius:0px !important;
  margin-top: 10px; }

#formM input{
 margin-top: 10px !important;
}
.z{
  background: rgb(69, 79, 88);
  border-radius:0px !important;
  margin-top: 10px;
  
}
.side{
  background: rgb(69, 79, 88);

}
.x{
  background: rgb(69, 79, 88);
  /* background:white; */
  box-shadow: 15px 15px 15px black;
  border-bottom-color:#2176bd;
  border-right-color: #2176bd;
  border-top-color:#38c172;
  border-left-color:#38c172;
}
.x input,.x button,.x textarea{
  border-bottom-color:#2176bd;
  border-right-color: #2176bd;
  border-top-color:#38c172;
  border-left-color:#38c172;
}
.num{
  position: absolute;
  top: -10px;
  z-index: 1000;
  color:red;
}
.wow{
 
    background-image: linear-gradient(to bottom right, white 50%, #3490dc 50%);
    background-repeat: no-repeat;

}
.bidsholder{

  transform: skewY(4deg); 
  transition: transform .4s,box-shadow .4s;
  box-shadow: 15px 15px 15px darkcyan;
}
.bidsholder:hover{
  transform: skewY(0deg); 
  box-shadow: 8px 8px 5px black;

}
