.lay{
  margin:0 0 0 0 !important;
  
}

.hide{
  display: none;  
}
.naughty-button{
  position: fixed;
  bottom: 30px;
  right: 80px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .regfrm{
    width: 50%!important;
    margin-left: 25%!important;
  }
}
@media screen and (max-width: 720px) {
  .regfrm{
    width: 70%!important;
    margin-left: 15%!important;
  }
}
@media screen and (max-width: 480px) {
  .naughty-button{
    bottom: 10px;
    right: 10px;
  }
  .search{
    width: 100% !important;
  }
  .regfrm{
    width: 90%!important;
    margin-left: 5%!important;
  }
  .responsive{display: none
  }
}

.line1{
  color: grey;
}
.line2{
  color:darkgrey;
}
.bracket{
  color:white;
}

.mouse{
  cursor: pointer;
}
.mouse:hover{
  background: rgba(0,0,0,0.2);
  color : white;
}
#form *{
   border-radius:0px !important; }
.list-group-item{
    
    border-radius: 0 !important;
}
#form input{
  margin-top: 0px !important;
}
.active{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
  #input:active , #input:focus,.delete:active,.delete:focus{
    box-shadow: none;
  }
  .blank-box:active,.blank-box:focus{
    box-shadow: none;
  }
  .blank-box:hover{
    background: auto!important;
  }
body{
  margin: 0!important;
}
.time{
  float: right;
}
.fix-scroll{
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: none;
}
.eachBid:hover{
  background-color: rgba(91, 66, 225, 0.4)!important;
  cursor: pointer;
  transform: skewY(0deg); /* Standard syntax */

}
.bid :nth-child(){
  background: rgba(91, 66, 225, 0.4)!important;
}
.box{
  height: 20rem;
  overflow-y:scroll;

 
}
#formM *{
  border-radius:0px !important;
  margin-top:10px!important;
  }

#formM input{
  margin-top:10px!important;
}
.z{
  background: rgb(69, 79, 88);
  border-radius:0px !important;
  margin-top: 10px;
  
}
.side{
  background: rgb(69, 79, 88);

}
.x{
  background: rgb(69, 79, 88);
  /* background:white; */
  box-shadow: 15px 15px 15px black;
  border-bottom-color:#2176bd;
  border-right-color: #2176bd;
  border-top-color:#38c172;
  border-left-color:#38c172;
}
.x input,.x button,.x textarea{
  border-bottom-color:#2176bd;
  border-right-color: #2176bd;
  border-top-color:#38c172;
  border-left-color:#38c172;
}
.num{
  position: absolute;
  top: -10px;
  z-index: 1000;
  color:red;
}
.wow{
 
    background-image: linear-gradient(to bottom right, white 50%, #3490dc 50%);
    background-repeat: no-repeat;

}
.bidsholder{

  transform: skewY(4deg); 
  transition: transform .4s,box-shadow .4s;
  box-shadow: 15px 15px 15px darkcyan;
}
.bidsholder:hover{
  transform: skewY(0deg); 
  box-shadow: 8px 8px 5px black;

}


.regfrm{
  position: absolute!important;
  z-index: 999;
  width:30%;
  margin-left:35%;
  margin-top: 2%;
}
.regfrm input{
  margin-top: -10px!important;
}
.des{
  height: 50vh;
}
.round{
  transform: rotateZ(20deg);
}
.over{
  overflow: hidden;
}
.pointer{
  cursor: pointer;
}
.stick-top{
  padding-top: 0px!important;
}
.add-background{
  background: white!important;
}
.bg-my{
  background-color: rgba(205, 206, 206, 0.76)!important;
  
}
.big{
  background-image: url('../images/back3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  background-attachment: fixed;
}
.dash{
  background-image: url('../images/back4.png');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  background-attachment: fixed;
}
.sktr{
  color:white!important;
  font-size: 20rem;
  margin-top:3rem;
}
.hall{
  font-size:3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(205, 206, 206, 0.76)!important;
}
.nac{
  padding-bottom: 0px!important;
}
.dropdown-item:hover{
  background: unset!important;
  color:palegreen!important;
  border-bottom:1px solid green;
}

.dropdown-menu{
  background: rgba(0,0,0,0.5)!important;

}
.skc{
  font-size:15rem!important;
}