.form-stuff{
    border-radius:0px !important; 
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
    border-top-color:#38c172;
    border-left-color:#38c172;
}
.x{
    background: rgb(69, 79, 88);
    /* background:white; */
    box-shadow: 15px 15px 15px black;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
    border-top-color:#38c172;
    border-left-color:#38c172;
}
#logo{
    /* background: url('../images/lol.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-attachment: fixed;
    /* background:rgb(69, 79, 88); */
    padding-left: 10%;
   
}
#logo h3,#logo div{
    margin-left: 4%;
}
#logo div{
    margin-top: 4%;
    cursor: pointer;
}
.login-form{
    width: 80%;
}
.that{
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
}
.that-up{
    border-top-color: rgba(0,0,0,0);
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
}
.abt{
    font-size: 200%;
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
}
.abt:hover{
    background: rgba(0,0,0,0);
    color: white!important;
    border-bottom-color:#2176bd;
    border-right-color: #2176bd;
}
a.abt:hover{
    color:white!important;
}
.abt:hover span{
    color: white!important;

}
.whole{
    padding-top: 7%;
    padding-bottom: 7%;
}
#logo-text{
    text-shadow:2px 2px  black;

}
.card-deck
{
    margin-top: 5%;
}
.info{
    transition: 0.5s background-color;
}
.info:hover{
    box-shadow: 5px 5px 10px black;
    background-color: rgba(91, 66, 225, 0.4)!important;
    cursor: pointer;
}
.myRow{
    margin-top: 3%;
}
.myDef{
    text-align: left
    /* padding-left:2rem;
    padding-right: 2rem; */
}
.big{
    background-image: url('../images/back3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed;
}
.myinfo{
    background-image: url('../images/back4.png');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed;
}
.laa{
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed;
}
@media screen and (max-width: 1200px) {
    .main-logo{
        font-size:4rem;
    }
}
@media screen and (max-width: 640px) {
    .main-logo{
        font-size:3rem;
    }
}
@media screen and (max-width: 480px) {
    .main-logo{
      font-size:2rem;
    }
  }

  .icon{
      font-size:5rem;
  }