.btn-font{
    font-size: 35px !important;
}
.review{
    border: 1px solid black;
}
.showcase{
    padding: 8%;
}
.sm{
    font-size:9px!important;
    padding: 2px;
}
.upfor{
    position:absolute;
    bottom:1px;
    right:1px;
    color: brown!important;
}
.btn-group-vertical{
}
.form-input-skill{
    border-radius: 0px !important;
    /* padding: 5vh; */
}
.skillbox{
    border-right: 1px solid rgb(211, 208, 208);
}
.border-0{
    border-radius: 0px !important;
}